{% extends "news/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load markup %}
{% load baseurl %}
{% block head %}
	{{ block.super }}
	<link rel="alternate" title="RSS" href="rss/" type="application/rss+xml" />
{% endblock %}
{% block content %}
	<h3>
		{% trans "News" %}
                <a href="rss/"><img src="{% static "news/img/feed-icon-14x14.png" %}" alt="RSS feed" /></a>
	</h3>
	{% for a in articles.object_list %}
		<div class="article">
			<h4>{{ a.title|escape }}</h4>
			<div class="article-info">{{ a.author|escape }}, {{ a.published|date:"j F Y" }}</div>
			{% if a.head %}
				<p>{{ a.head_html|baseurl:a.get_absolute_url }}</p>
				<div class="article-footer">
					{% if a.body %}<a href="{{ a.get_absolute_url }}">{% trans "Read more" %}</a> | {% endif %}
			{% else %}
				<p>{{ a.body_html|baseurl:a.get_absolute_url }}</p>
				<div class="article-footer">
			{% endif %}
			{% if a.comment_set.count %}
				<a href="{{ a.get_absolute_url }}">
{% blocktrans count a.comment_set.count as count %}{{ count }} comment{% plural %}{{ count }} comments{% endblocktrans %}
				</a>
			{% else %}
				<a href="{{ a.get_absolute_url }}comment/">{% trans "Add new comment" %}</a>
			{% endif %}
			</div>
		</div>
	{% endfor %}
	<div class="pagination">
		{% if articles.has_previous %}
			<div class="next">
				<a href="{{ category.get_absolute_url }}news/{{ articles.previous_page_number }}/">{% trans "Next" %}</a>
			</div>
		{% endif %}
		{% if articles.has_next %}
			<div class="previous">
				<a href="{{ category.get_absolute_url }}news/{{ articles.next_page_number }}/">{% trans "Previous" %}</a>
			</div>
		{% endif %}
	</div>
{% endblock %}
