{% extends "news/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load markup %}
{% load baseurl %}
{% block head %}
	{{ block.super }}
	<link rel="alternate" title="RSS" href="rss/" type="application/rss+xml" />
	<link rel="stylesheet" type="text/css" href="{% static "css/share-buttons.css" %}" />
	<script src="{% static "news/js/likebutton.js" %}" charset="utf-8"></script>
{% endblock %}
{% block content %}
	<h1>
		<a href="{{ category.get_absolute_url }}news/">{% trans "News" %}</a>
		<a class="news-subscribe" href="{{ category.get_absolute_url }}news/rss/">
			<div class="rss-icon"><img src="{% static "news/img/rss.svg" %}" alt="RSS" /></div>
			{% trans "News feed" %}
		</a>
	</h1>
	{% for a in articles.object_list %}
		<div class="article">
			<article>
				<header>
					<div class="like" onmousedown="likebutton(this,'http://tjrapid.sk{{ a.get_absolute_url|escapejs }}')"><div class="button">Like | ★</div></div>
					<h1 class="title"><a href="{{ a.get_absolute_url }}">{{ a.title|escape }}</a></h1>
				</header>
				{% if a.head %}
					<p>{{ a.head_html|baseurl:a.get_absolute_url }}</p>
				{% endif %}
				{% if not a.head %}
					<p>{{ a.body_html|baseurl:a.get_absolute_url }}</p>
				{% endif %}
				<div style="clear: both"></div>
			</article>
			<footer>
				<div class="author">{{ a.author|escape }}</div>
				<div class="date">{{ a.published|date:"DATE_FORMAT" }}</div>
				<div class="misc-links">
					{% include "share-buttons.html" with title=a.title url=a.get_absolute_url %}
					{% if a.head and a.body %}
						| <a href="{{ a.get_absolute_url }}">{% trans "Read more" %}</a>
					{% endif %}
					{% if a.comment_set.count %}
						| <a href="{{ a.get_absolute_url }}">{% blocktrans count a.comment_set.count as count %}{{ count }} comment{% plural %}{{ count }} comments{% endblocktrans %}</a>
					{% else %}
						{% if a.comments_enabled %}
							| <a href="{{ a.get_absolute_url }}comment/">{% trans "Add new comment" %}</a>
						{% endif %}
					{% endif %}
				</div>
			</footer>
		</div>
	{% endfor %}
	<div class="pagination">
		{% if articles.has_previous %}
			<div class="next">
				<a href="{{ category.get_absolute_url }}news/{{ articles.previous_page_number }}/">{% trans "Next" %}</a>
			</div>
		{% endif %}
		{% if articles.has_next %}
			<div class="previous">
				<a href="{{ category.get_absolute_url }}news/{{ articles.next_page_number }}/">{% trans "Previous" %}</a>
			</div>
		{% endif %}
	</div>
{% endblock %}
