.gallery {
	background: black;
	position: relative;
	overflow: hidden;
}

.gallery-sheet {
	position: relative;
	left: 0;
	top: 0;
}

.gallery-wrapper {

}

.gallery-left {
	background: url("leftarrow.png") center left no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
}

.gallery-right {
	background: url("rightarrow.png") center right no-repeat;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

.gallery-desc {
	background: black;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	font-size: 10pt;
	font-family: "Tahoma", sans-serif;
}

.gallery-desc p {
	margin: 10px;
}
