.feed {
	margin-left: 3px;
	padding: 0 0 0 19px;
	background: url("../img/feed-icon-14x14.png") no-repeat 0 50%;
}

.pagination {
	clear: both;
}

.pagination .previous:after {
	content: "⇨";
	font-size: 120%;
}

.pagination .previous {
	float: right;
}

.pagination .next:before {
	content: "⇦";
	font-size: 120%;
}

.pagination .next {
	float: left;
}

.article {
	margin: 10px 0;
	background-color: #ededed;
}

.article .like {
	float: right;
	position: relative;
}

.article .like > .button {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: #888;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	white-space: nowrap;
}

.article .like > button:hover {
	text-decoration: underline;
}

.article .like .dropdown {
	position: absolute;
	top: 0;
	right: 0;
	background: #f8f8f8;
	border: 1px solid #ddd;
	box-shadow: 1px 1px rgba(0,0,0,0.3);
}

.article .like iframe {
	display: block;
}

.article .like .dropdown .item {
	padding: 0.6em;
}

.article header {
	margin: 0.5em 0;
}

.article header h4 {
	margin: 0;
}

.article article {
	padding: 0.5em 0.7em;
}

.article header a {
	color: inherit;
	text-decoration: inherit;
}

.article footer {
	border-top: 1px solid #ccc;
	background: rgb(230,230,230);
	margin: 5px 0;
	padding: 0.5em 0.7em;
}

.article footer .author,
.article footer .date {
	color: #222;
	display: inline;
}

.article footer .author:after {
	content: ", ";
}

.article footer .misc-links {
	float: right;
}

.comment {
	padding: 8px;
	background-color: #ededed;
	margin: 1px 0;
}

.comment-wrapper {
	background: url("../img/comment-wrapper.png") repeat-y;
}

.comment-level-1 { margin-left: 10px; }
.comment-level-2 { margin-left: 20px; }
.comment-level-3 { margin-left: 30px; }
.comment-level-4 { margin-left: 40px; }
.comment-level-5 { margin-left: 50px; }
.comment-level-6 { margin-left: 60px; }
.comment-level-7 { margin-left: 70px; }
.comment-level-8 { margin-left: 80px; }
.comment-level-9 { margin-left: 90px; }

.comment h5 {
	font-size: 10pt;
	margin: 0;
}

.comment-info {
	color: #001800;
	margin: 4px 0;
}

.comment-footer {
	text-align: right;
	margin: 5px 0;
}

.comment-form {
	margin: 20px 0;
}

.comment-form th {
	font-weight: bold;
	text-align: right;
	vertical-align: top;
	padding-right: 5px;
}

.comment-form .buttons {
	margin: 10px 0;
}
