.url {
    background-color: #beddf2;
    display: inline-block;
    color: #555;
    padding: 0.3em 0.5em;
    border-radius: 0.1em;
}

.clients-list {
    list-style: none;
}

.clients-list li {
    display: inline-block;
    margin: 0.3em 1em;
}
