.share-buttons {
    display: inline-block;
    vertical-align: bottom;
    color: #555;
}

.share-buttons a {
    display: inline-block;
    height: 1.4em;
    vertical-align: bottom;
    background-color: #bbb;
    border-radius: 0.2em;
    transition: background-color 0.2s;
}

.share-buttons a:hover {
    transition: background-color 0.2s;
}

.share-buttons img {
    height: 1em;
    margin: 0.2em 0.4em;
}

.share-buttons .share-mail:hover {
    background-color: #0A88FF;
}

.share-buttons .share-facebook:hover {
    background-color: #306199;
}

.share-buttons .share-googleplus:hover {
    background-color: #E93F2E;
}

.share-buttons .share-twitter:hover {
    background-color: #26C4F1;
}
