body {
    background: #eee;
    font-size: 18pt;
    color: #888;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: #0169c9;
    text-decoration: inherit;
    font-size: 1.1em;
}

p {
    margin: 1em 0;
}

h1 {
    margin: 0.2em;
    font-size: 33pt;
    font-weight: normal;
    color: #aaa;
    text-align: center;
}

h1 a {
    display: inline-block;
    width: 300px;
    padding-top: 190px;
    background: url("../img/tjrapid-grayscale.png") no-repeat center 0.4em;
    color: inherit;
    text-decoration: inherit;
}

h2 {
    margin: 0.3em 0;
    font-size: 1.3em;
    font-weight: normal;
}

.container {
    max-width: 800px;
    text-align: center;
    margin: 0.3em auto;
}
