{% extends "eventapp/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Entry" %} {{ entry.id }}{% endblock %}
{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% static "mootools/mootools.js" %}"></script>
<script type="text/javascript">
/* <![CDATA[ */
function selectall(me, others) {

	$$(others).each(function(e) { e.checked = me.checked; });
}

window.addEvent('domready', function() {
});
/* ]]> */
</script>
{% endblock %}
{% block content %}
	<h4><a href="../">{{ event|escape }}</a></h4>
	<h3>{% trans "Entry" %} {{ entry.id }}</h3>
	<p><a href="list/">{% blocktrans with event as event|escape %}List of all participants at <em>{{ event }}</em>{% endblocktrans %}</a></p>
	{% if participants %}
		<form method="get" action="pdf/" style="display: inline-block; margin: 5pt 0">
			<input type="submit" value="{% trans "Export as PDF" %}" />
		</form>
	{% endif %}
	{% if event.is_open %}
		<form method="get" action="PA/" style="display: inline-block; margin: 5pt 0">
			<input type="submit" value="{% trans "Add a participant to the entry" %}" />
		</form>
	{% endif %}
	{% if participants %}
		<form action="action/" method="post">
			{% csrf_token %}
			<div style="float: right; padding-bottom: 10px">
				<select name="action">
					<option value="remove">{% trans "Remove selected" %}</option>
				</select>
				<input type="submit" value="{% trans "Perform" %}" />
			</div>
			<table class="standard participants-table" style="clear: both">
				<tr>
					<th><input type="checkbox" onchange="selectall(this, 'input[name=selected]')" /></th>
					<th>{% trans "Name" %}</th>
					<th>{% trans "Club" %}</th>
					<th>{% trans "Class" %}</th>
					<th>{% trans "Laps" %}</th>
					{% if event.withsi %}<th>{% trans "SI" %}</th>{% endif %}
					<th>{% trans "Accomm." %}</th>
					{% if event.withsi %}
						<th>{% trans "Entry/SI/Accomm. fee" %}</th>
					{% else %}
						<th>{% trans "Entry/Accomm. fee" %}</th>
					{% endif %}
					<th>{% trans "Total" %}</th>
				</tr>
				{% for pa in participants %}
					<tr>
						<td><input type="checkbox" name="selected" value="{{ pa.id }}" /></td>
						<td><a href="{{ pa.id }}">{{ pa.firstname|escape }} {{ pa.surname|escape }}</a></td>
						<td>{{ pa.club|escape }}</td>
						<td>{{ pa.cls|escape }}</td>
						<td>{{ pa.laps|escape }}</td>
						{% if event.withsi %}<td>{{ pa.get_si_abbr }}</td>{% endif %}
						<td>{% if pa.accomm %}
							{% if pa.accomm.label|length > 12 %}
								{{ pa.accomm.label|slice:":10"|escape }}…
							{% else %}
								{{ pa.accomm.label|escape }}
							{% endif %}
						{% endif %}</td>
						{% if event.withsi %}
							<td>{{ pa.entryfee }}/{{ pa.sifee }}/{{ pa.accommfee }}&nbsp;€</td>
						{% else %}
							<td>{{ pa.entryfee }}/{{ pa.accommfee }}&nbsp;€</td>
						{% endif %}
						<td>{{ pa.fees }}&nbsp;€</td>
					</tr>
				{% endfor %}
			</table>
		</form>
		<div class="total">{% trans "Total" %}:  {{ total }} €</div>
	{% else %}
		<p>{% trans "The entry is empty. Use the button above to add participants." %}</p>
	{% endif %}
{% endblock %}
