{% extends "eventapp/base.html" %}
{% load i18n %}
{% block title %}{% trans "Entry form" %}{% endblock %}

{% block content %}
	<h3>{% trans "Entry form" %}</h3>
	<div>
		<strong>{% trans "Event" %}:</strong> {{ event|escape }}<br />
		<strong>{% trans "Registration opens" %}:</strong> {{ event.open_date|date:"SHORT_DATE_FORMAT" }}<br />
		<strong>{% trans "Registration closes" %}:</strong> {{ event.close_date|date:"SHORT_DATE_FORMAT" }}
	</div>
        <p><a href="list/">{% blocktrans with event as event|escape %}List of all participants at <em>{{ event }}</em>{% endblocktrans %}</a></p>
	{% if event.is_open %}
		<h4>{% trans "New entry" %}</h4>
		<p>
		{% blocktrans %}To register one or more participants, create a new entry. <strong>Entry identification code</strong> will be sent to your e-mail. You will be able to view or modify an existing entry at a later time using the identification code.{% endblocktrans %}
		</p>
		<form method="post" action="">
			{% csrf_token %}
			{{ newentry_form.non_field_errors }}
			{{ newentry_form.email.errors }}
			{{ newentry_form.email.label_tag }}: {{ newentry_form.email }} <input type="submit" name="newentry" value="{% trans "New entry" %}" />
		</form>
	{% else %}
		<div class="event-closed-msg">{% trans "This event is closed." %}</div>
	{% endif %}
	<h4>{% trans "Go to existing entry" %}</h4>
	<p>
	{% blocktrans %}If you previously created an entry using the form above, you can use the <strong>entry identification code</strong> you received to view or modify the entry.{% endblocktrans %}
	</p>
	<form method="post" action="">
		{% csrf_token %}
		{{ existingentry_form.id.errors }}
		{{ existingentry_form.id.label_tag }} {{ existingentry_form.id }} <input type="submit" name="existingentry" value="{% trans "Go to entry" %}" />
	</form>
	<h4>{% trans "Forgot your entry identification code?" %}</h4>
	<p>
	{% blocktrans %}You can request that it be sent to the e-mail address that you used to make the entry.{% endblocktrans %}
	</p>
	<form method="post" action="">
		{% csrf_token %}
		{{ recovery_form.email.errors }}
		{{ recovery_form.email.label_tag }} {{ recovery_form.email }} <input type="submit" name="recovery" value="{% trans "Send me my entry ID" %}" />
	</form>
{% endblock %}
