{% extends "eventapp/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{{ event|escape }}: {% trans "List of participants" %}{% endblock %}
{% block head %}
<script type="text/javascript" src="{% static "mootools/mootools.js" %}"></script>
<script type="text/javascript" src="{% static "mootools/mootools-more.js" %}"></script>
<script type="text/javascript">
/* <![CDATA[ */
window.addEvent('domready', function() {
	var stringParser = {
		match: /.*/,
		convert: function() {
			return this.get('text').toLowerCase().standardize();
		},
		number: false,
	};

	HtmlTable.Parsers = {
		string: stringParser,
	};

	var t = new HtmlTable($('table'));
	t.enableSort();
	t.sort(2, false, true);
	t.sort(1, false, false);
});
/* ]]> */
</script>
{{ block.super }}
{% endblock %}
{% block content %}
	{% if entry %}
		<p><a href="../">{% trans "Go back to my entry" %}</a></p>
	{% else %}
		<p><a href="../">{% trans "Go back to the event page" %}</a></p>
	{% endif %}
	<h3>{{ event|escape }}: {% trans "List of participants" %}</h3>
	{% if participants %}
		<table id="table" class="standard participants-table">
			<thead>
				<tr>
					<th>{% trans "First Name" %}</th>
					<th>{% trans "Surname" %}</th>
					<th>{% trans "Club" %}</th>
					<th>{% trans "Class" %}</th>
					<th>{% trans "Laps" %}</th>
					<th>{% trans "Accommodation" %}</th>
				</tr>
			</thead>
			<tbody>
				{% for pa in participants %}
					<tr>
						<td>{{ pa.firstname|escape }}</td>
						<td>{{ pa.surname|escape }}</td>
						<td>{{ pa.club|escape }}</td>
						<td>{{ pa.cls|escape }}</td>
						<td>{{ pa.laps|escape }}</td>
						<td>{{ pa.accomm.label|escape }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>{% trans "There are no participants." %}</p>
	{% endif %}
{% endblock %}
