.ma-container {
	color: #000;
	border: 1px solid #333;
	background-color: #fff;
	position: absolute;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
}
.ma-container ul {
	font-family: inherit;
	list-style: none;
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
}
.ma-container li {
	padding: 2px 5px;
	line-height: 14px;
	cursor: pointer;
	float: left;
	width: 100%;
	overflow: hidden;
	font-family: sans-serif;
	font-size: 80%;
}
.ma-container .ma-hover{
	background-color: #b5b5ff !important;
}
.ma-loading {
}
.ma-selected {
}