#header {
	background: url("../img/header.png") repeat-x;
}

#branding a:hover {
	text-decoration: none !important;
}

#header h1 {
	color: #555;
	font-weight: bold;
	background: url("../img/logo.png") 10px no-repeat;
	padding-left: 32px;
	font-family: Helvetica, sans-serif;
}

#user-tools {
	color: black;
}

#user-tools a {
	color: black !important;
}

.vLargeTextField {
	width: auto !important;
	height: 5em;
	font-family: monospace !important;
	font-size: 8pt;
	border: none;
	padding: 1em 10em;
	position: relative;
	top: -1em;
	left: -10em;
	background: transparent;
	resize: none;
}
