{% extends "ob.html" %}
{% load i18n %}
{% load markup %}
{% block title %}{% trans "News" %}{% endblock %}
{% block head %}
<link rel="alternate" title="RSS" href="rss/" type="application/rss+xml" />
{% endblock %}
{% block content %}
	<h3>
		{% trans "News" %}{% if year %}:{% endif %}
		{% if day %}{{ day }}{% endif %}
		{% if month_name %}{{ month_name }}{% endif %}
		{% if year %}{{ year }}{% endif %}
                <a href="rss/"><img src="/site_media/feed-icon-14x14.png" alt="RSS feed" /></a>
	</h3>
	{% for a in articles %}
		<div class="article">
			<h4>{{ a.title|escape }}</h4>
			<div class="article-info">{{ a.author|escape }}, {{ a.published|date:"j F Y" }}</div>
			{% if a.head %}
				<p>{{ a.head|textile }}</p>
				<div class="article-footer">
					{% if a.body %}<a href="{{ a.get_absolute_url }}">{% trans "Read more" %}</a> | {% endif %}
			{% else %}
				<p>{{ a.body|textile }}</p>
				<div class="article-footer">
			{% endif %}
			{% if a.comment_set.count %}
				<a href="{{ a.get_absolute_url }}">
{% blocktrans count a.comment_set.count as count %}{{ count }} comment{% plural %}{{ count }} comments{% endblocktrans %}		
				</a>
			{% else %}
				<a href="{{ a.get_absolute_url }}comment/">{% trans "Add new comment" %}</a>
			{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}
