{% extends "eventapp/base.html" %}
{% load i18n %}
{% block title %}{% trans "Entry" %} {{ entry.id }}{% endblock %}
{% block head %}
{{ block.super }}
<script type="text/javascript" src="/site_media/mootools.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
function selectall(me, others) {
	
	$$(others).each(function(e) { e.checked = me.checked; });
}

window.addEvent('domready', function() {		
});
/* ]]> */
</script>
{% endblock %}
{% block content %}
	<h4><a href="../">{{ event|escape }}</a></h4>
	<h3>{% trans "Entry" %} {{ entry.id }}</h3>
	{% if participants %}
		<form method="get" action="pdf/" style="display: inline-block; margin: 5pt 0">
			<input type="submit" value="{% trans "Export as PDF" %}" />
		</form>
	{% endif %}
	{% if event.is_open %}
		<form method="get" action="PA/" style="display: inline-block; margin: 5pt 0">
			<input type="submit" value="{% trans "Add a participant to the entry" %}" />
		</form>
	{% endif %}
	{% if participants %}
		<form action="action/" method="post">
			<div style="float: right; padding-bottom: 10px">
				<select name="action">
					<option value="remove">{% trans "Remove selected" %}</option>
				</select>
				<input type="submit" value="{% trans "Perform" %}" />
			</div>
			<table class="standard participant-table" style="clear: both; width: 100%">
				<tr>
					<th><input type="checkbox" onchange="selectall(this, 'input[name=selected]')" /></th>
					<th>{% trans "Name" %}</th>
					<th>{% trans "Club" %}</th>
					<th>{% trans "Class" %}</th>
					<th>{% trans "SI" %}</th>
					<th>{% trans "Accomm." %}</th>
					<th>{% trans "Entry/SI/Acomm. fee" %}</th>
					<th>{% trans "Total" %}</th>
				</tr>
				{% for pa in participants %}
					<tr>
						<td><input type="checkbox" name="selected" value="{{ pa.id }}" /></td>
						<td><a href="{{ pa.id }}">{{ pa.firstname|escape }} {{ pa.surname|escape }}</a></td>
						<td>{{ pa.club|escape }}</td>
						<td>{{ pa.cls|escape }}</td>
						<td>{{ pa.get_si_abbr }}</td>
						<td>{% if pa.accomm %}
							{% if pa.accomm.label|length > 17 %}
								{{ pa.accomm.label|slice:":15"|escape }}&hellip;
							{% else %}
								{{ pa.accomm.label|escape }}
							{% endif %}
						{% endif %}</td>
						<td>{{ pa.entryfee }}/{{ pa.sifee }}/{{ pa.accommfee }} €</td>
						<td>{{ pa.fees }} €</td>
					</tr>
				{% endfor %}
			</table>
		</form>
		<div class="total">{% trans "Total" %}:  {{ total }} €</div>
	{% else %}
		<p>{% trans "The entry is empty. Use the button above to add participants." %}</p>
	{% endif %}
{% endblock %}
