{% extends "eventapp/base.html" %}
{% load i18n %}
{% block title %}{{ event|escape }}: {% trans "List of participants" %}{% endblock %}
{% block content %}
	<p><a href="../">{% trans "Go back to my entry" %}</a></p>
	<h3>{{ event|escape }}: {% trans "List of participants" %}</h3>
	{% if participants %}
		<table class="standard participant-table" style="width: 100%">
			<tr>
				<th>{% trans "Name" %}</th>
				<th>{% trans "Club" %}</th>
				<th>{% trans "Class" %}</th>
				<th>{% trans "Accommodation" %}</th>
			</tr>
			{% for pa in participants %}
				<tr>
					<td>{{ pa.firstname|escape }} {{ pa.surname|escape }}</td>
					<td>{{ pa.club|escape }}</td>
					<td>{{ pa.cls|escape }}</td>
					<td>{{ pa.accomm.label|escape }}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>{% trans "There are no participants." %}</p>
	{% endif %}
{% endblock %}
