{% extends "eventapp/base.html" %}
{% load i18n %}
{% block title %}{% if participant %}{% trans "Participant" %} {{ participant.id }}{% else %}{% trans "New participant" %}{% endif %}{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/site_media/eventapp/style.css" />
<script type="text/javascript" src="/site_media/mootools.js"></script>
<script type="text/javascript" src="/site_media/mootools-textarea-resizer.js"></script>
<link rel="stylesheet" type="text/css" href="/site_media/textarea-resizer.css" />
<script language="javascript">
accommcount_cache = new Array();
accommnights_cache = new Array();
accommcount_selected = 0;
accommnights_selected = 0;
	
function update_form(form) {
	form.si.disabled = true;
	for (i=0; i < form.simode.length; i++) {
		r = form.simode[i]
		if (r.value == 'P' && r.checked)
			form.si.disabled = false;
	}
	
	while (form.accommcount.length > 0)
		form.accommcount.remove(0);
	while (form.accommnights.length > 0)
		form.accommnights.remove(0);
		
	{% for ac in accommodation %}
		for (i = 0; i < form.accomm.length; i++) {
			o = form.accomm[i];
			if (o.value == '{{ ac.id }}') {
				{% if ac == participant.accomm and participant.accommcount %}
					o.disabled = {{ ac.free }} + {{participant.accommcount }} == 0;
				{% else %}
					o.disabled = {{ ac.free }} == 0;
				{% endif %}
			}
		}
		
		if (form.accomm.value == '{{ ac.id }}') {
			for (i = 0; i < accommcount_cache.length; i++) {
				o = accommcount_cache[i];
				{% if ac == participant.accomm and participant.accommcount %}
					if ({{ ac.free }} + {{ participant.accommcount }} >= o.value)
						form.accommcount.add(o, null);
				{% else %}
					if ({{ ac.free }} >= o.value)
						form.accommcount.add(o, null);
				{% endif %}
			}
			for (i = 0; i < accommnights_cache.length; i++) {
				o = accommnights_cache[i];
				if (o.value <= {{ ac.maxnights }} && o.value >= {{ ac.minnights }})
					form.accommnights.add(o, null);
			}
		}
	{% endfor %}
	
	for (i = 0; i < form.accommcount.length; i++)
		if (form.accommcount[i] == accommcount_selected)
			form.accommcount.selectedIndex = i;
	for (i = 0; i < form.accommnights.length; i++)
		if (form.accommnights[i] == accommnights_selected)
			form.accommnights.selectedIndex = i;
	
	disabled = form.accomm.value == '' || form.accommcount.length == 0 || form.accommnights.length == 0;
	form.accommcount.disabled = disabled;
	form.accommnights.disabled = disabled;
	form.accommnote.disabled = disabled;
	
	form.accomm.disabled = form.accomm.length == 1;
	
	if (form.accommcount.length == 0)
		form.accommcount.add(new Option('---------', '0'), null);
	if (form.accommnights.length == 0)
		form.accommnights.add(new Option('---------', '0'), null);
}
window.addEvent('domready', function() {
	$$('textarea').resizable();
	$$('textarea').setStyle('height', 40);

	f = document.getElementById('form');
	
	for (i = 0; i < f.accommcount.length; i++)
		accommcount_cache.push(f.accommcount[i].cloneNode(true));
	for (i = 0; i < f.accommnights.length; i++)
		accommnights_cache.push(f.accommnights[i].cloneNode(true));

	update_form(f);
	f.accomm.onchange = function() { update_form(f); };
	
	$('id_accommcount').addEvent('change', function() {
	    accommcount_selected = f.accommcount[f.accommcount.selectedIndex];
	});
	$('id_accommnights').addEvent('change', function() {
	    accommnights_selected = f.accommnights[f.accommnights.selectedIndex];
	});
});
</script>
{% endblock %}

{% block content %}
	<h3>{% if participant %}{% trans "Participant" %} {{ participant.id }}{% else %}{% trans "New participant" %}{% endif %}
		({% trans "entry" %} <a href="../">{{ entry }}</a>)</h3>
	<form method="post" action="" id="form">
		<table>
			<tr><td colspan="2">{{ form.firstname.errors }}</td></tr>
			<tr><td>{{ form.firstname.label_tag }}*:</td><td>{{ form.firstname }}</td></tr>
			<tr><td colspan="2">{{ form.surname.errors }}</td></tr>
			<tr><td>{{ form.surname.label_tag }}*:</td><td>{{ form.surname }}</td></tr>
			<tr><td colspan="2">{{ form.club.errors }}</td></tr>
			<tr><td>{{ form.club.label_tag }}*:</td><td>{{ form.club }}<div>{{ form.club.help_text }}</div></td></tr>
			<tr><td colspan="2">{{ form.si.errors }}{{ form.simode.errors }}</td></tr>
			<tr><td>{{ form.si.label_tag }}*:</td><td>
				<input type="radio" name="simode" onchange="update_form(this.form)" onclick="update_form(this.form)" value="P" id="si_present" {% if simode == 'P' %}checked="checked"{% endif %} />
				<label for="si_present">{% trans "the SI number is" %}:</label> {{ form.si }}<br />
				<input type="radio" name="simode" onchange="update_form(this.form)" onclick="update_form(this.form)" value="L" id="si_later" {% if simode == 'L' %}checked="checked"{% endif %}/>
				<label for="si_later">{% trans "supply later" %}</label><br />
				{% if event.sifee %}
					<input type="radio" name="simode" onchange="update_form(this.form)" onclick="update_form(this.form)" value="B" id="si_borrow" {% if simode == 'B' %}checked="checked"{% endif %}/>
					<label for="si_borrow">{% trans "want to borrow" %}</label><br />
				{% endif %}
			</td></tr>
			<tr><td colspan="2">{{ form.cls.errors }}</td></tr>
			<tr><td>{{ form.cls.label_tag }}*:</td><td>{{ form.cls }}</td></tr>
			<tr><td colspan="2">{{ form.note.errors }}</td></tr>
			<tr><td>{{ form.note.label_tag }}:</td><td>{{ form.note }}</td></tr>
			<tr><td colspan="2">{{ form.accomm.errors }}{{ form.accommcount.errors }}{{ form.accommnights.errors }}</td></tr>
			<tr><td>{{ form.accomm.label_tag }}:</td><td>{{ form.accomm }}</td></tr>
			<tr><td></td><td>{{ form.accommcount }} | {{ form.accommnights }}</td></tr>
			<tr><td></td><td>{{ form.accommnote.errors }}<label for="">{% trans "Note related to accommodation" %}:</label><br />{{ form.accommnote }}</td></tr>
		</table>
		<div class="form-buttons">
			<input type="submit" name="commit" value="{% trans "Register" %}" />
		</div>
	</form>
{% endblock %}
