{% extends "news/base.html" %}
{% load i18n %}
{% load markup %}
{% load static %}

{% block head %}
	<meta property="og:title" content="{{ article.title }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="http://tjrapid.sk{{ article.get_absolute_url }}" />
	<meta property="og:image" content="http://tjrapid.sk{% static "main/img/tjrapid-fb.png" %}" />
	<meta property="og:site_name" content="TJ Rapid" />
	<meta property="article:published_time" content="{{ article.published|date:"c" }}" />
	{% if article.head %}
		<meta property="og:description" content="{{ article.head_html|striptags|truncatewords:40 }}" />
	{% endif %}
	{% if article.body and not article.head %}
		<meta property="og:description" content="{{ article.body_html|striptags|truncatewords:40 }}" />
	{% endif %}
	<meta property="article:author" content="{{ article.author }}" />
{% endblock %}

{% block content %}
	<h3>{{ article.title|escape }}</h3>
	<div class="article-info">{{ article.author|escape }}, {{ article.published|date:"j F Y" }}</div>
	{% if article.head %}<p>{{ article.head_html }}</p>{% endif %}
	<p>{{ article.body_html }}</p>
	{% if comments %}
		<h4>
			{% trans "Comments" %}
			{% if not article.comments_enabled %}
				{% trans "(closed)" %}
			{% endif %}
		</h4>
		<div class="comments">
			{% for o in comments %}
				<div class="comment-wrapper">
					<div class="comment comment-level-{{ o.level }}">
						<h5>{{ o.comment.subject|escape }}</h5>
						<div class="comment-info">{{ o.comment.sender|escape }},
							{{ o.comment.posted|date:"j F Y H:i" }}</div>
						<div class="comment-body">{{ o.comment.message|escape|urlize|linebreaks }}</div>
						{% if article.comments_enabled %}
							<div class="comment-footer"><a href="comment/{{ o.comment.id }}/">{% trans "Reply" %}</a></div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if article.comments_enabled %}
    	<p><a href="comment/">{% trans "Add new comment" %}</a></p>
   	{% endif %}
{% endblock %}
