{% load markup %}
{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/site_media/main.css" />
{% endblock %}

{% block main %}
	<div id="content-wide">
		{{ page.content|textile }}
		<div id="oddiely">
			<ul>
				<li id="oddiely-cyklo"><a href="/cyklo/">Cyklistika</a></li>
				<li id="oddiely-hadzana"><a href="/hadzana/">Hádzaná</a></li>
				<li id="oddiely-karate"><a href="/karate/">Karate</a></li>
				<li id="oddiely-gymnastika"><a href="/gymnastika/">Moderná gymnastika</a></li>
				<li id="oddiely-ob"><a href="/ob/news/">Orientačný beh</a></li>
				<li id="oddiely-turistika"><a href="/turistika/">Turistika</a></li>
			</ul>
		</div>
		<div id="footer">
			Sekretariát: Hrachová 4, 821 02 Bratislava, tel/fax: ++421-02-4329 4689
		</div>
	</div>
{% endblock %}
