{% load i18n %}
{% load markup %}
{% extends "base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block header-title %}
	<div id="header-title">
		<a href="/">
			<h2>TJ Rapid</h2>
			<h1>{% trans "Orienteering club" %}</h1>	
		</a>
	</div>
{% endblock %}

{% block header-extra %}
	<div id="header-extra-ob">
		{% ifequal LANGUAGE_CODE 'sk' %}
			<ul id="header-lang">
				<li><a href="/en/orienteering/">English</a><img src="/site_media/header-en.png" /></li>
			</ul>
		{% else %}
			<ul id="header-lang">
				<li><a href="/ob/">Slovensky</a><img src="/site_media/header-sk.png" /></li>
			</ul>
		{% endifequal %}
	</div>
{% endblock %}

{% block content %}{{ block.super }}{% endblock %}

{% block menu %}
	<div id="menu-ob" class="menu">
		{{ category.menu|textile }}
	</div>
{% endblock %}
