.event {
    background-color: white;
    border: 1px solid #ccc;
    margin: 1em 0;
    padding: 1em;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}

.event .title {
    font-size: 140%;
    font-weight: 600;
    margin-bottom: 0.4em;
}

.event .title a {
    color: inherit;
    text-decoration: inherit;
}

.event .date {
    font-size: 17px;
    color: #555;
}

.event .location {
    font-weight: bold;
    color: #555;
}

.event .date,
.event .location {
    margin: 0.5em 0;
}

.event .map {
    width: 300px;
    height: 200px;
    float: right;
    margin: 0 0 1em 1em;
}

@media (max-width: 800px) {
    .event .map {
        float: none;
        width: 100%;
        margin: 0 0 15px 0;
    }
}

.event .map img {
    display: block;
}

.event iframe {
    max-width: 100%;
}
