.events {
    background-color: white;
    border: 1px solid #ccc;
    margin: 1em 0;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    overflow: hidden;
}

.events > .events-header {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}

.events > .events-header .title {
    font-size: 1.3em;
    font-weight: bold;
    color: inherit;
    text-decoration: inherit;
}

.events > .events-header .more {
    float: right;
    margin: 0.2em 0;
}

.events-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
}

.event {
    overflow: auto;
    display: flex;
    border-top: 1px solid #ddd;
}

.event:first-child {
    border-top: none;
}

.event .content {
    margin: 10px 10px;
    flex-grow: 1;
}

.event .title {
    font-size: 1.2em;
    font-weight: 600;
}

.event .title a {
    color: inherit;
    text-decoration: inherit;
}

.event .date {
    color: #555;
}

.event .location {
    font-weight: bold;
    color: #555;
}

.event .date,
.event .location {
    margin: 0.2em 0;
}

.event-map {
    border-left: 1px solid #eee;
    overflow: hidden;
    min-width: 150px;
    min-height: 180px;
}

.event-map iframe {
    border: none !important;
}

.event iframe {
    max-width: 100%;
}
