{% load i18n %}
{% load markup %}
{% load static %}
<!DOCTYPE html>

<html>
	<head>
		<title>{% block title %}{{ page.title|escape }}{% endblock %} · TJ Rapid</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="{% static "main/img/tjrapid.ico" %}" type="image/ico">
		<link rel="stylesheet" type="text/css" href="{% static "main/css/base.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "main/css/search.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "main/css/article.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "main/css/header.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "main/css/footer.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "picture-slider/picture-slider.css" %}" />
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic&amp;subset=latin,latin-ext" />
		<script src="{% static "mootools/mootools.js" %}"></script>
		<script src="{% static "mootools/mootools-more.js" %}"></script>
		<script src="{% static "picture-slider/picture-slider.js" %}"></script>
		{% if style %}<style type="text/css">{{ style|safe }}</style>{% endif %}
		{% block head %}{% endblock %}
	</head>
	<body>
		<div class="container">
			<header class="header">
				{% block header-title %}
					<div id="header-title-main">
						<a href="/">
							<h2>Telovýchovná jednota</h2>
							<h1>Rapid Bratislava</h1>
						</a>
					</div>
				{% endblock %}
				{% block header-extra %}
					<div id="header-extra">
					</div>
				{% endblock %}
			</header>
			<div class="main">
				{% block main %}{% endblock %}
			</div>
			<footer class="footer">
				<div class="content">
<div class="map"><iframe width="350" height="140" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=17.174350619316105%2C48.14726557490542%2C17.17799842357636%2C48.149312858186406&amp;layer=mapnik&amp;marker=48.14828922675453%2C17.176174521446228" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=48.14829&amp;mlon=17.17617#map=18/48.14829/17.17617&amp">{% trans "View larger map" %}</a></small></div>
					<div class="title">TJ Rapid</div>
					<p class="address">
						Hrachová 4<br />
						821 02 Bratislava<br />
						tel/fax: +421 2 4329 4689<br />
						<a href="mailto:tjrapid&#64;tjrapid.sk">tjrapid<span>&#64;</span>tjrapid.sk</a>
					</p>
					<p class="maintained-by">
						<a href="https://djangoproject.com"><img class="django" alt="django" src="{% static "main/img/django.png" %}" /></a>
						{% trans "Site maintained by" %} <a href="mailto:mikulas.sabo&#64;gmail.com">Mikuláš Šabo</a> |
						Design &amp; code <a href="https://github.com/peterkuma">Peter Kuma</a>
					</p>
				</div>
			</footer>
		</div>
	</body>
</html>
