{% load i18n %}
{% load markup %}
{% load staticfiles %}
<!DOCTYPE html>

<html>
	<head>
		<title>{% block title %}{{ page.title|escape }}{% endblock %} - TJ Rapid</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="icon" href="{% static "main/img/tjrapid.ico" %}" type="image/ico">
		<link rel="stylesheet" type="text/css" href="{% static "main/css/base.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "picture-slider/picture-slider.css" %}" />
		<script src="{% static "mootools/mootools.js" %}"></script>
		<script src="{% static "mootools/mootools-more.js" %}"></script>
		<script src="{% static "picture-slider/picture-slider.js" %}"></script>
		{% if style %}<style type="text/css">{{ style|safe }}</style>{% endif %}
		{% block head %}{% endblock %}
	</head>
	<body>
		<div class="container {% block wide %}{% endblock %}">
			<header>
				{% block header-title %}
					<div id="header-title-main">
						<a href="/">
							<h2>Telovýchovná jednota</h2>
							<h1>Rapid Bratislava</h1>
						</a>
					</div>
				{% endblock %}
				{% block header-extra %}
					<div id="header-extra">
					</div>
				{% endblock %}
			</header>
			{% block main %}
			<section class="main">
				{% block menu %}{% endblock %}
				<div class="search">
					<form action="http://www.google.com/search" method="get">
						<input type="hidden" name="as_sitesearch" value="www.tjrapid.sk" />
						<input type="text" name="as_q" size="15" />
						<button action="submit" name="search"><img src="{% static "main/img/search.png" %}" /></button>
					</form>
				</div>
				<article>
				{% block location %}
					{% if location %}
						<div id="location">
							{% for o in location %}
								{% if forloop.first %}
									<a href="{{ o.url }}">{{ o.name }}</a>
								{% else %}
									&rsaquo; <a href="{{ o.url }}">{{ o.name }}</a>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
				{% endblock %}
				{% block content %}
					<h3>{{ page.title|escape }}</h3>
					{{ page.content_html }}
				{% endblock %}
				</article>
			</section>
			{% endblock %}
			<footer>
				<div class="content">
					<a class="map" href="http://a.tiles.mapbox.com/v3/peterkuma.map-jo5q9011/page.html"><img src="http://a.tiles.mapbox.com/v3/peterkuma.map-jo5q9011/17.175562977790833,48.14843247659438,17/350x140.png" /></a>
					<div class="title">TJ Rapid</div>
					<p class="address">
						Hrachová 4<br />
						821 02 Bratislava<br />
						tel/fax: +421 2 4329 4689<br />
						<a href="mailto:tjrapid&#64;tjrapid.sk">tjrapid<span>&#64;</span>tjrapid.sk</a>
					</p>
					<p class="maintained-by">
						<a href="https://djangoproject.com"><img class="django" alt="django" src="{% static "main/img/django.png" %}" /></a>
						{% trans "Site maintained by" %} <a href="mailto:peter.kuma&#64;tjrapid.sk">Peter Kuma</a>
					</p>
				</div>
			</footer>
		</div>
	</body>
</html>
