{% extends "main/barebones.html" %}
{% load i18n %}
{% load markup %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "main/css/index.css" %}" />
{% endblock %}

{% block main %}
    <article>
        {{ page.content_html }}
    </article>
    <nav class="clubs">
    {% for category in categories %}
    	{% if category.name != '' %}
		<ul>
		    <li class="{{ category.name_en }}"><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
		</ul>
	{% endif %}
    {% endfor %}
    </nav>
{% endblock %}
