{% extends "main/base.html" %}
{% load i18n %}
{% load markup %}
{% load staticfiles %}
{% load baseurl %}

{% block title %}{{ block.super }}{% endblock %}

{% block header-title %}
	<div id="header-title">
		<a href="/">
			<h2>TJ Rapid</h2>
			<h1>{% trans "Orienteering club" %}</h1>
		</a>
	</div>
{% endblock %}

{% block header-extra %}
	<div id="header-extra-ob">
		{% ifequal LANGUAGE_CODE 'sk' %}
			<ul id="header-lang">
				<li><a href="/en/orienteering/">English</a><img src="{% static "main/img/header-en.png" %}" /></li>
			</ul>
		{% else %}
			<ul id="header-lang">
				<li><a href="/ob/">Slovensky</a><img src="{% static "main/img/header-sk.png" %}" /></li>
			</ul>
		{% endifequal %}
	</div>
{% endblock %}

{% block content %}{{ block.super }}{% endblock %}

{% block menu %}
	<nav class="nav-ob">
		{{ category.menu_html|baseurl:category.get_absolute_url }}
	</nav>
{% endblock %}
