{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<a href="/admin/"><h1 id="site-name">{% trans 'TJ Rapid' %}</h1></a>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom.css' %}" />
{% endblock %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% static 'admin/js/jquery-1.10.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.autosize.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/custom.js' %}"></script>
{% endblock %}
