{% extends "ob.html" %}
{% load i18n %}
{% load markup %}
{% block title %}{% trans "News" %}{% endblock %}

{% block head %}
<script type="text/javascript" src="/site_media/mootools-textarea-resizer.js"></script>
<link rel="stylesheet" type="text/css" href="/site_media/textarea-resizer.css" />
<script type="text/javascript">
/* <![CDATA[ */
window.addEvent('domready', function() {
	$$('textarea').setStyle('width', 400);
	$$('textarea').setStyle('height', 150);
	$$('textarea').resizable();
});
/* ]]> */
</script>
{% endblock %}

{% block content %}
	<h3>{{ article.title|escape }}</h3>
	<div class="article-info">{{ article.author|escape }}, {{ article.published|date:"j F Y" }}</div>
	{% if article.head %}<p>{{ article.head|textile }}</p>{% endif %}
	<p>{{ article.body|textile }}</p>
	<h4>{% trans "Comments" %}</h4>
	{% if reply %}
		<div class="comment-wrapper">
			<div class="comment">
				<h5>{{ reply.subject }}</h5>
				<div class="comment-info">
					{{ reply.sender|escape }}, {{ reply.posted|date:"j F Y H:i" }}
				</div>
				<div class="comment-body">{{ reply.message|escape|urlize|linebreaks }}</div>
			</div>
		</div>
	{% endif %}
	{% if comment %}
		<div class="comment-wrapper">
			<div class="comment{% if reply %} comment-level-1{% endif %}">
				<h5>{{ comment.subject|escape }}</h5>
				<div class="comment-info">
					{{ comment.sender|escape }}, {% now "j F Y H:i" %}
				</div>
				<div class="comment-body">{{ comment.message|escape|urlize|linebreaks }}</div>
			</div>
		</div>
	{% endif %}
	<form class="comment-form" method="post" action="">
		<table>{{ form }}</table>
		<div class="buttons">
			<input type="submit" name="preview" value="{% trans "Preview comment" %}" />
			<input type="submit" name="send" value="{% trans "Send comment" %}" />
		</div>
	</form>
{% endblock %}
