{% extends "admin/change_form.html" %}
{% load i18n %}
{% block content %}
{% if object_id %}
<div class="event-reports">
<h3>{% trans "Reports" %}</h3>
<ul>
    <!--<li><a href="csv/report/">{% trans "Standard report in CSV" %}</a></li>-->
    <li><a href="csv/fullreport/">{% trans "Full report in CSV" %}</a></li>
</ul>
</div>
<div class="event-links">
<h3>{% trans "Links to this event" %}</h3>
<ul>
    <li><a href="/ob/prihlaska/{{ object_id }}/">http://www.tjrapid.sk/ob/prihlaska/{{ object_id }}/</a></li>
    <li><a href="/en/orienteering/entry/{{ object_id }}/">http://www.tjrapid.sk/en/orienteering/entry/{{ object_id }}/</a></li>
</ul>
</div>
{% endif %}
{{ block.super }}
{% endblock %}
