{% extends "main/ob.html" %}
{% load i18n %}
{% load static %}
{% load baseurl %}
{% block title %}{% trans "Events" %}{% endblock %}

{% block head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "ob/css/events.css" %}" />
{% endblock %}

{% block content %}
	<h1>{% trans "Events" %}</h1>
	{% for event in events %}
		<div class="event">
			{% if event.mapbox_mapid %}
				<div class="map">
					<a href="{{ event.map_link }}">
						<img src="{{ event.map_image_default }}" />
					</a>
				</div>
			{% endif %}
			<div class="title"><a href="{{ event.name }}/">{{ event.title }}</a></div>
			<div class="date">{{ event.start_date|date:"DATE_FORMAT" }} ({{ event.start_date|date:"l" }}){% if event.end_date %}–{{ event.end_date|date:"DATE_FORMAT" }} ({{ event.end_date|date:"l" }}){% endif %}</div>
			<div class="location">{{ event.location }}</div>
			<div class="content">{{ event.head_html|baseurl:event.name }}</div>
			{% if event.body_html %}
				<a href="{{ event.name }}/">{% trans "More information" %}</a>
			{% endif %}
			<div style="clear: both"></div>
		</div>
	{% endfor %}
{% endblock %}
