{% load static %}
{% load map %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>TJ Rapid</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="{% static "ob/css/event_map.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "ob/leaflet/leaflet.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "leaflet/leaflet.css" %}" />
		<script src="{% static "leaflet/leaflet.js" %}"></script>
    </head>
    <body>
	{% translate "Event centre" as map_point_title %}
        <div class="map">{% map lat=event.latitude lon=event.longitude zoom=event.map_zoom title=map_point_title points=event.mappoint_set.all larger_map_link=False %}</div>
    </body>
</html>
