{% extends "main/ob.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ event.title }}{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "ob/css/event.css" %}" />
{% endblock %}

{% block content %}
    <h1>{{ event.title }}</h1>
    {% if event.mapbox_mapid %}
        <figure>
            <a href="{{ event.map_link }}">
                <img src="{{ event.map_image_default }}" />
            </a>
        </figure>
    {% endif %}
    <div class="date">{{ event.start_date|date:"DATE_FORMAT" }}{% if event.end_date %}—{{ event.end_date|date:"DATE_FORMAT" }}{% endif %}</div>
    <div class="location">{{ event.location }}</div>
    <div class="content">
        {{ event.head_html }}
        {{ event.body_html }}
    </div>
{% endblock %}
