{% extends "main/ob.html" %}
{% load i18n %}
{% load static %}
{% load map %}
{% block title %}{{ event.title }}{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "ob/css/event.css" %}" />
{% endblock %}

{% block content %}
    {% if event.latitude and event.longitude %}
	{% translate "Event centre" as map_point_title %}
        <div class="map">{% map lat=event.latitude lon=event.longitude zoom=event.map_zoom title=map_point_title points=event.mappoint_set.all larger_map_link=event.larger_map_link %}</div>
    {% endif %}
    <h1>{{ event.title }}</h1>
    <div class="date">{{ event.start_date|date:"DATE_FORMAT" }}{% if event.end_date %}—{{ event.end_date|date:"DATE_FORMAT" }}{% endif %}</div>
    <div class="location">{{ event.location }}</div>
    <div class="content">
        {{ event.head_html }}
        {{ event.body_html }}
    </div>
{% endblock %}
