article {
    padding: 0 15px;
}

article h1:first-child {
    margin-top: 0.6em;
}

article .table {
    border: 1px solid silver;
    border-collapse: collapse;
    background: white;
    overflow: auto;
    max-width: 100%;
}

article .table th {
    text-align: left;
    background-color: #f8f8f8;
    border-bottom: 1px solid black;
    padding: 3px 5px;
}

article .table td {
    text-align: left;
    border-top: 1px solid #f4f4f4;
    border-right: dashed 1px silver;
    padding: 3px 5px;
}

article figure {
    border: 1px solid #ccc;
    padding: 7px;
    margin: 5px;
    background-color: white;
    float: right;
    clear: right;
    max-width: 100%;
    position: relative;
}

article figure.left {
    float: left;
    clear: left;
}

article figure.inline {
    float: none;
    display: inline-block;
}

article figure img {
    display: block;
    max-width: 100%;
}

article .pic-right {
    border: 1px solid #ccc;
    padding: 7px;
    margin: 5px 0 5px 10px;
    background-color: white;
    float: right;
    line-height: 0;
}

article .pic-left {
    border: 1px solid #ccc;
    padding: 7px;
    margin: 5px 10px 5px 0;
    background-color: white;
    float: left;
    line-height: 0;
}

article .box {
    background: #eec73e;
    padding: 5px;
    clear: both;
}

article .box .title {
    display: block;
    font-weight: bold;
    text-decoration: underline;
    margin: 0 0 4px 0;
}

article .box .subtitle {
    display: block;
}

article ul.compact {
    margin: 4px 0;
    padding: 0;
}

article ul.compact li {
    display: inline;
    list-style: none;
    margin-right: 10px;
}

article ul.compact img {
    margin-right: 5px;
    vertical-align: text-top;
}

article .table-sortable th {
    cursor: pointer;
}

article .table-th-sort {
    background: url("../../img/sort.png") no-repeat right center;
}

article .table-th-sort-rev {
    background: url("../../img/sort-rev.png") no-repeat right center;
}
