body {
	margin: 0;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.4;
}
img {
	border: none;
}
ul {
	list-style-type: square;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
	text-decoration: inherit;
}

h1 {
	font-size: 200%;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.6em;
}

h2 {
	font-size: 180%;
	font-weight: 600;
	margin-top: 1em;
	margin-bottom: 0.6em;
}

h3 {
	font-size: 140%;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.6em;
}

h4 {
	font-size: 100%;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.6em;
}

dt {
	display: inline;
	font-weight: bold;
}
dd {
	display: inline;
	margin-left: 5px;
}
form .errorlist {
	list-style: none;
	margin: 2px 0;
	padding: 0;
	color: #d40000;
	font-weight: bold;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
	background: url("../img.container > article > nav.png") repeat-y;
	border-left: 1px silver solid;
	border-right: 1px silver solid;
	border-bottom: 1px silver solid;
}

.main {
	position: relative;
	background: url("../img/bg.png") repeat-x;
	overflow: hidden;
}

@media (max-width: 1000px) {
	.container {
		border: 0;
	}
}
