body {
	margin: 0;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 1.4;
}
img {
	border: none;
}
ul {
	list-style-type: square;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
	text-decoration: inherit;
}

h1 {
	font-size: 2em;
	margin: 0.6em 0;
}

h2 {
	font-size: 1.6em;
	margin: 0.5em 0;
}

h3 {
	font-size: 1.2em;
	margin: 15px 0 15px 0;
}

h4 {
	font-size: 1em;
	font-weight: normal;
}

dt {
	display: inline;
	font-weight: bold;
}
dd {
	display: inline;
	margin-left: 5px;
}
form .errorlist {
	list-style: none;
	margin: 2px 0;
	padding: 0;
	color: #d40000;
	font-weight: bold;
}

.container {
	max-width: 1000px;
	min-width: 800px;
	margin: 0 auto;
	position: relative;
	background: url("../img.container > article > nav.png") repeat-y;
	border: 1px silver solid;
}

.main {
	position: relative;
	background: url("../img/bg.png") repeat-x;
	overflow: hidden;
}
