.main {
    display: flex;
}

.main > .content {
    top: 0;
    right: 0;
    padding: 0em 1.5em 1em 1.5em;
    min-height: 700px;
    flex-grow: 1;
}

.header .content {
    max-width: 1100px;
}

.footer .content {
    background: #ddd;
    max-width: 1100px;
}

.footer .inside {
    margin-left: 165px;
    background: #eee;
}

.main > nav {
    width: 165px;
    min-width: 165px;
    background: #97c339;
    padding-top: 10px;
    font-size: 16px;
}

.main > nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main > nav li {
    padding: 4px 10px;
}

.main > nav a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.main > nav a:hover {
    text-decoration: underline;
}

.main > nav.orientacny-beh {
    background-image: url("../img/menu-ob.png");
    background-repeat: no-repeat;
}

.main > nav.karate {
    background-image: url("../img/menu-karate.png");
    background-repeat: no-repeat;
}

.main > nav.moderna-gymnastika {
    background-image: url("../img/menu-gymnastika.png");
    background-repeat: no-repeat;
}

.main > nav.cyklistika {
    background-image: url("../img/menu-cyklo.png");
    background-repeat: no-repeat;
}

.main > nav summary {
    visibility: hidden;
    margin: 5px 0;
    text-align: center;
    text-decoration: underline;
}

@media (max-width: 800px) {
    .main {
        display: initial;
    }

    .main > nav {
        position: initial;
        width: 100%;
        box-sizing: border-box;
        height: auto;
        background-image: none !important;
        font-size: 13px;
        padding: 8px 5px;
    }

    .main > nav li {
        display: inline-block;
        padding: 2px 4px;
    }

    .main > nav summary {
        visibility: initial;
    }

    .main > .content {
        margin-left: 0px;
        padding: 0 1em 1.5em 1em;
    }

    .footer .inside {
        margin-left: initial;
    }
}
