.footer {
    background: #ddd;
}

.container.wide > footer {
    background: none;
}

.container.wide > footer .content {
    margin-left: 0;
}

.footer .content {
    background: #eee;
    padding: 2em;
}

.footer .title {
    font-size: 180%;
}

.footer .maintained-by {
    margin: 3em 0 0 0;
    font-size: 12px;
    color: #333;
    clear: both;
}

.footer .django {
    display: block;
    float: right;
    margin-bottom: 15px;
}

.footer .django img {
    display: block;
}

.footer .map {
    display: block;
    float: right;
    margin-bottom: 15px;
    max-width: 100%;
}

@media (max-width: 750px) {
    .footer .map {
        float: inherit;
    }

    .footer .django {
        float: inherit;
    }

    .footer .content {
        padding: 1em;
    }
}
