.footer {
    clear: both;
    background: #eee;
}

.footer .content {
    max-width: 1000px;
    margin: 0 auto;
}

.container.wide > footer {
    background: none;
}

.container.wide > footer .content {
    margin-left: 0;
}

.footer .inside {
    padding: 1.5em;
}

.footer .title {
    font-size: 180%;
}

.footer .maintained-by {
    margin: 3em 0 0 0;
    font-size: 12px;
    color: #333;
    clear: both;
}

.footer .django {
    display: block;
    float: right;
    margin-bottom: 15px;
}

.footer .django img {
    display: block;
}

.footer .map {
    float: right;
    margin-bottom: 15px;
    max-width: 100%;
    width: 350px;
    height: 140px;
}

@media (max-width: 750px) {
    .footer .map {
        float: inherit;
        width: 100%;
    }

    .footer .django {
        float: inherit;
    }

    .footer .inside {
        padding: 1em;
    }
}
