.header {
    background: url("../img/header.png") repeat-x;
    height: 142px;
}
.header .content {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}
#header-title {
    background: url("../img/header-title-club.png") no-repeat;
    height: 142px;
}
#header-title a {
    display: block;
    height: 142px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    background: url("../img/logo.png") 32px center no-repeat;
    background-size: 100px;
}
#header-title h2 {
    color: #ffd700;
    font-size: 18pt;
    position: absolute;
    top: 18px;
    left: 180px;
}
#header-title h1 {
    font-size: 20pt;
    color: #daa520;
    position: absolute;
    top: 52px;
    left: 180px;
}
#header-title-main {
    height: 142px;
}
#header-title-main a {
    display: block;
    height: 142px;
    width: 500px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    margin: 0 auto;
    background: url("../img/logo.png") 32px center no-repeat;
    background-size: 100px;
}
#header-title-main h2 {
    color: #ffd700;
    font-size: 16pt;
    position: absolute;
    top: 20px;
    left: 150px;
}
#header-title-main h1 {
    font-size: 26pt;
    color: #daa520;
    position: absolute;
    top: 35px;
    left: 150px;
}
#header-lang {
    font-size: 15px;
    color: white;
    margin-top: 10px;
    margin-right: 5px;
}
#header-lang a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#header-lang a:hover {
    text-decoration: underline;
}
#header-extra {
    height: 142px;
    width: 220px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}
.header-extra-orienteering {
    background: url("../img/header-extra-ob.png") no-repeat right;
    height: 142px;
    width: 330px;
    text-align: right;
    padding-right: 235px;
    position: absolute;
    right: 0;
    top: 0;
}
.header-extra-modern-gymnastics {
    background: url("../img/header-extra-gymnastika.jpg") no-repeat right;
    height: 142px;
    width: 330px;
    position: absolute;
    right: 0;
    top: 0;
}
@media (max-width: 800px) {
    .header {
        height: 100px;
        background-size: auto 100px;
    }
    #header-title {
        height: 100px;
        background-size: auto 100px;
    }
    #header-title a {
        height: 100px;
        background: url("../img/logo.png") 23px center no-repeat;
        background-size: 70px;
    }
    #header-title h1 {
        font-size: 12pt;
        top: 40px;
        left: 127px;
    }
    #header-title h2 {
        font-size: 12pt;
        top: 15px;
        left: 127px;
    }
    #header-title-main {
        height: 100px;
        background-size: auto 100px;
    }
    #header-title-main a {
        width: 350px;
        height: 100px;
        margin: 0;
        background: url("../img/logo.png") 23px center no-repeat;
        background-size: 70px;
    }
    #header-title-main h1 {
        font-size: 16pt;
        top: 32px;
        left: 105px;
    }
    #header-title-main h2 {
        font-size: 14pt;
        top: 10px;
        left: 105px;
    }
    #header-lang {
        font-size: 12px;
        margin-top: 5px;
    }
    #header-extra,
    #header-extra-ob,
    #header-extra-gymnastika {
        background: none;
        height: 100px;
        width: 200px;
        padding-right: initial;
    }
}
