.main {
    padding: 0 2em;
}

.main > article {
    max-width: 950px;
    margin: 2em auto;
    text-align: justify;
}

.main > article h1 {
    font-size: 220%;
    text-align: center;
}

.clubs {
    background: #b0d467;
    font-size: 120%;
    text-align: center;
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.2);
}

.clubs ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    min-height: 145px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 950px;
}

.clubs li:hover {
    background: url("../img/spotlight.png") no-repeat center -20px;
}

.clubs li a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 85px 15px 10px 15px;
}

.clubs li.cycling a {
    background: url("../img/cyklo.png") no-repeat center 15px;
}

.clubs li.karate a {
    background: url("../img/karate.png") no-repeat center 15px;
}

.clubs li.modern-gymnastics a {
    background: url("../img/gymnastika.png") no-repeat center 15px;
}

.clubs li.orienteering a {
    background: url("../img/ob.png") no-repeat center 15px;
}

@media (max-width: 800px) {
    .main {
        padding: 0 1em;
    }

    .main > article {
        margin: 1em auto;
    }

    .clubs ul {
        min-height: 100px;
        overflow: auto;
        font-size: 90%;
    }

    .clubs li a {
        background-size: 35px !important;
        padding: 65px 2px 10px 2px;
    }
}
