.main > .search {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 200px;
}

.main > .search form {
    display: flex;
}

.main > .search input {
    display: block;
    border: 1px solid silver;
    padding: 0.2em;
    margin-right: 0.5em;
    flex-grow: 1;
}

.main > .search button {
    display: block;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.main > .search button img {
    width: 22px;
}

@media (max-width: 750px) {
    .main > .search {
        position: initial;
        width: auto;
        margin: 1em;
    }
}
