.attachment-inline .attachment {
    padding: 1em;
}

.attachment-inline .attachment a {

}

.attachment-inline .attachment .delete {
    width: 10px;
    height: 10px;
    padding: 1px;
    background: url('/static/admin/img/icon_deletelink.gif') center center no-repeat;
    vertical-align: middle;
    display: none;
    cursor: pointer;
}

.attachment-inline .attachment:hover .delete {
    display: inline-block;
    margin: 0 0.2em;
}

.attachment-inline .attach {
    margin: 1em;
}

.attachment-inline .error .message:before {
    display: block;
    width: 16px;
    height: 16px;
    padding: 1px;
    background: url('../img/icon_error.gif') no-repeat center center;
}

.attachment-inline .note {
    color: #0169c9;
    font-weight: bold;
    background: #d3eaff;
    padding: 1em;
}
